{% extends 'base.html' %}


{% block content %}

<br>
<br>


<section class="ml-3 p-3 border border-2 border border-success">

    <h1 class="my-4" style="color: green;text-align: center;text-decoration: underline;"><small>Welcome to</small>
        Ayurbella clinic

    </h1>


    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid"
                src="https://res.cloudinary.com/doulat/image/upload/v1665081047/complete_Ayurbella_logo_wqiz5o.svg"
                alt="" height="400" width="400">
        </div>

        <div class="col-md-4">
            <h3 class="my-3" style="color: green;">Ayurbella</h3>
            <p class="zoom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                pellentesque urna
                varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu
                convallis placerat, felis enim.</p>

</section>


</div>



<center>
    <h1 class="my-4" style="color: green;">Doctors

    </h1>
</center>

<center>
<div class="card-group">
    <div class="card ml-3 p-1 border border-2 border border-success" style="max-width: 1160px;">
        <img src="https://res.cloudinary.com/doulat/image/upload/v1664713116/WhatsApp_Image_2022-10-02_at_4.52.14_PM_nz8upt.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color: green;">Dr. Madhu Chawla Mhatre</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> P.G. DIPLOMAS IN COSMETOLOGY, TRICHOLOGY, AESTHETICS, DIET AND NUTRITION,
                OBESITY
                MANAGEMNET, AROMA
                THERAPY, BODY SCULPTING & MEDI SPA.</li>
            <li class="list-group-item">DIRECTOR OF AYURBELLA CLINIC & CENTER PVT. LTD & MANAGING DIRECTOR OF ALLIED
                AESTHETIC
                INTERNATIONAL
                INSTITUTE PVT. LTD.</li>
            <li class="list-group-item">IAO CERTIFIED INTERNATIONAL TEACHER & COSMETOLOGIST.</li>
            <li class="list-group-item">OWNER OF COSMETIC BRAND DERMA EXOTICA.</li>
            <li class="list-group-item">MAHARASHTRA STATE PRESIDENT FOR AYURVEDA AT AAYUSH INTERNATIONAL MEDICAL
                ASSOCIATION.</li>
            <li class="list-group-item"> SPEAKER AT OSMANABAD AYURVEDA GOVT. COLLEGE, SAPTASHRINIGI AYURVEDA COLLEGE,
                PAMPA, STRI
                CARE,
                PRATIGYA, KOTAKKAL AYURVEDA VAIDYASHALA, DIKSHA AND MANY MORE PLATFORMS. TRAINING GIVEN TO
                MORE THAN
                12,000 NATIONAL AND INTERNATIONAL STUDENTS</li>
        </ul>

    </div>

    <div class="card ml-3 p-1 border border-2 border border-success" style="max-width: 1160px;">
        <img src="https://res.cloudinary.com/doulat/image/upload/v1665063774/rachit_1_qdd9k1.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color: green;">Dr. Rachit Vikas Mhatre</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> DIPLOMAS IN COSMETOLOGY, TRICHOLOGY, AESTHETICS, PRODUCT MAKING, BUSINESS
                MANAGEMENT, DIET
                AND
                NUTRITION, OBESITY MANAGEMNET, AROMA THERAPY, BODY SCULPTING & MEDI SPA.</li>
            <li class="list-group-item">DIRECTOR OF ALLIED AESTHETIC INTERNATIONAL INSTITUTE PVT. LTD & MANAGING
                DIRECTOR OF
                AYURBELLA CLINIC
                & CENTER PVT. LTD.</li>
            <li class="list-group-item"> R&D SCIENTIST AT INTERNATIONAL PHARMA.</li>
            <li class="list-group-item">OWNER OF AYURVEDIC BRAND ENCHANTED HERBS.</li>
            <li class="list-group-item">NATIONAL COORDINATOR FOR AYURVEDA AT AAYUSH INTERNATIONAL MEDICAL ASSOCIATION.
            </li>
            <li class="list-group-item"> SPEAKER AT AIMA, PAMPA, MFA, CHAOON, PRATIGYA, KOTAKKAL AYURVEDA VAIDYASHALA,
                DIKSHA AND
                MANY MORE
                PLATFORMS. TRAINING GIVEN TO MORE THAN 12,000 NATIONAL AND INTERNATIONAL STUDENTS.</li>
        </ul>

    </div>
</div>
</center>


    <div class='container-fluid mx-2 mt-5 mb-5 col-12' style="text-align: center;max-width: 1160px;">
        <div class="hd" style="color: rgb(6, 165, 27); font-size: 20pt;">Our services</div>
        <br>

        <div class="row" style="justify-content: center">

            <div class="card col-md-3 col-12 mx-2 border border-2 border border-success">
                <a href="/panchkarma">
                    <div class="card-content">
                        <div class="card-body"> <img class="img"
                                src="https://3.imimg.com/data3/EY/OP/MY-14436890/a-500x500.png" width="200px"
                                height="100px">
                            <div class="shadow"></div>
                            <div class="card-title" style="color: rgb(6, 165, 27);"> PANCHAKARMA, NATUROPATHY
                                & HEALTH MANAGEMENT </div>
                            <p> <small>
                                    <div class="card-subtitle" style="color: grey;">Panchakarma is a method of cleansing
                                        the
                                        body of all the
                                        unwanted waste
                                        after lubricating it. Panchakarma are 5 (five) in number; hence the term PANCHA
                                        (five) KARMA (procedures).
                                        Panchakarma treatment is unique in the sense that it includes preventive,
                                        curative
                                        and promotive
                                        actions for various diseases.
                                </small> </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br />
        <br />


        <div class="card col-md-3 col-12 ml-2 mr-2 border border-2 border border-success" style="max-width: 1160px;">
            <a href="/panchkarma">
                <div class="card-content">
                    <div class="card-body"> <img class="img"
                            src="https://www.easyayurveda.com/wp-content/uploads/2015/11/foot-massage1.jpg"
                            width="200px" height="100px">
                        <div class="card-title" style="color: rgb(6, 165, 27);"> Kansa Padabhyanga </div>
                        <div class="card-subtitle" style="color: grey;">
                            <p> <small class="text-muted">Kansa, known as “kansya” in Sanskrit, is an alloy made of
                                    copper,
                                    tin,
                                    and
                                    zinc. It is variously called bell metal or bronze in the West.</small> </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <br />
        <br />

        <div class="card col-md-3 col-12 ml-2 border border-2 border border-success" style="max-width: 1160px;">
            <a href="/skinandhair">
                <div class="card-content">
                    <div class="card-body"> <img class="img rck"
                            src="https://i0.wp.com/healthline-activation-prod.healthline.com/driver-images/GrouponSkincareImage.jpg?w=1155"
                            width="200px" height="100px">
                        <div class="card-title" style="color: rgb(6, 165, 27);"> SKIN & HAIRTREATMENTS</div>
                        <div class="card-subtitle" style="color: grey;">
                            <p> <small class="text-muted">Skin care is the range of practices that support skin
                                    integrity,
                                    enhance
                                    its
                                    appearance and relieve skin conditions. They can include nutrition, avoidance of
                                    excessive
                                    sun
                                    exposure
                                    and appropriate use of emollients</small> </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<br />
<br />

{% endblock %}