{% extends 'base.html' %}


{% block content %}
<style>
    head,
    body {
        background-color: rgb(255, 255, 255)
    }

    .card {
        cursor: pointer
    }

    .hd {
        font-size: 25px;
        font-weight: 550
    }

    .card.hover,
    .card:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, .5)
    }

    .img {
        margin-bottom: 35px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222)
    }

    .card-title {
        font-weight: 600
    }

    button.focus,
    button:focus {
        outline: 0;
        box-shadow: none !important
    }

    .ft {
        margin-top: 25px
    }

    .chk {
        margin-bottom: 5px
    }

    .rck {
        margin-top: 20px;
        padding-bottom: 15px
    }
</style>

<style>
    .zoom:hover {
        -ms-transform: scale(1.05);
        /* IE 9 */
        -webkit-transform: scale(1.05);
        /* Safari 3-8 */
        transform: scale(1.05);
    }
</style>
<br>

<!-- Page Content -->
<!-- Portfolio Item Heading -->
<section style="margin: 0px 200px; border: 2px solid rgb(153, 151, 151); padding: 0px 50px;">

    <h1 class="my-4" style="color: green;text-align: center;text-decoration: underline;"><small>Welcome to</small>
        Ayurbella clinic

    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid"
                src="https://res.cloudinary.com/doulat/image/upload/v1665081047/complete_Ayurbella_logo_wqiz5o.svg"
                alt="" height="400" width="400">
        </div>

        <div class="col-md-4">
            <h3 class="my-3" style="color: green;">Ayurbella</h3>
            <p class="zoom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                pellentesque urna
                varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu
                convallis placerat, felis enim.</p>
            <!-- <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div> -->
</section>
<!-- /.row -->

<!-- Related Projects Row -->
<!-- <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
      </a>
    </div>

  </div> -->
<!-- /.row -->

</div>
<!-- /.container -->


<!-- Page Content -->
<!-- <div class="container"> -->
<section style="margin: 0px 200px; ">
    <!-- Page Heading -->
    <center>
    <h1 class="my-4" style="color: green;">Doctors
        <!-- <small>Secondary Text</small> -->
    </h1>
</center>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100" style="border: 2px solid black; padding: 5px;">
                <a href="#">
                    <center>
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/doulat/image/upload/v1664713116/WhatsApp_Image_2022-10-02_at_4.52.14_PM_nz8upt.jpg"
                            alt="" style="height: 400px ; width:300px; "></img>
                    </center>
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" style="color: green;">Dr. Madhu Chawla Mhatre</a>
                    </h4>
                    <p class="card-text">
                        <!-- <pre> Qualification:
                    B.A.M.S. (MUM.), D.Ma.T., D.D.N.
                  </pre> -->
                    <ul>
                        <li> P.G. DIPLOMAS IN COSMETOLOGY, TRICHOLOGY, AESTHETICS, DIET AND NUTRITION, OBESITY
                            MANAGEMNET, AROMA
                            THERAPY, BODY SCULPTING & MEDI SPA.</li>

                        <li>DIRECTOR OF AYURBELLA CLINIC & CENTER PVT. LTD & MANAGING DIRECTOR OF ALLIED AESTHETIC
                            INTERNATIONAL
                            INSTITUTE PVT. LTD.</li>

                        <li>IAO CERTIFIED INTERNATIONAL TEACHER & COSMETOLOGIST.</li>

                        <li>OWNER OF COSMETIC BRAND DERMA EXOTICA.</li>

                        <li>MAHARASHTRA STATE PRESIDENT FOR AYURVEDA AT AAYUSH INTERNATIONAL MEDICAL ASSOCIATION.</li>

                        <li> SPEAKER AT OSMANABAD AYURVEDA GOVT. COLLEGE, SAPTASHRINIGI AYURVEDA COLLEGE, PAMPA, STRI
                            CARE,
                            PRATIGYA, KOTAKKAL AYURVEDA VAIDYASHALA, DIKSHA AND MANY MORE PLATFORMS. TRAINING GIVEN TO
                            MORE THAN
                            12,000 NATIONAL AND INTERNATIONAL STUDENTS</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100" style="border: 2px solid black; padding: 5px;">
                <a href="#">
                    <center>
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/doulat/image/upload/v1665063774/rachit_1_qdd9k1.jpg" alt=""
                            style="height: 400px ; width:300px; "></img>
                    </center>
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#" style="color: green;">Dr. Rachit Vikas Mhatre</a>
                    </h4>
                    <p class="card-text">
                        <!-- <pre> <b> <u>Qualification: </u></b>
B.A.M.S., D. Panchkarma., D.Ma.T., D.D.N., -->
                    <ul>
                        <li> DIPLOMAS IN COSMETOLOGY, TRICHOLOGY, AESTHETICS, PRODUCT MAKING, BUSINESS MANAGEMENT, DIET
                            AND
                            NUTRITION, OBESITY MANAGEMNET, AROMA THERAPY, BODY SCULPTING & MEDI SPA.</li>

                        <li>DIRECTOR OF ALLIED AESTHETIC INTERNATIONAL INSTITUTE PVT. LTD & MANAGING DIRECTOR OF
                            AYURBELLA CLINIC
                            & CENTER PVT. LTD.</li>

                        <li> R&D SCIENTIST AT INTERNATIONAL PHARMA.</li>
                        <!-- 
            <li>IAO CERTIFIED INTERNATIONAL TEACHER & TRICHOLOGIST.</li> -->

                        <li>OWNER OF AYURVEDIC BRAND ENCHANTED HERBS.</li>

                        <li>NATIONAL COORDINATOR FOR AYURVEDA AT AAYUSH INTERNATIONAL MEDICAL ASSOCIATION.</li>
                        <li> SPEAKER AT AIMA, PAMPA, MFA, CHAOON, PRATIGYA, KOTAKKAL AYURVEDA VAIDYASHALA, DIKSHA AND
                            MANY MORE
                            PLATFORMS. TRAINING GIVEN TO MORE THAN 12,000 NATIONAL AND INTERNATIONAL STUDENTS.</li>
                    </ul>
                    </pre>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /.container -->

<!-- <div class="card-group" style="border: 2px;">
  <div class="card" style="
  padding-left: 200px;
  padding-top: 50px;
  border: 2px solid black;
  color: rgb(6, 165, 27);">
    <img
      src="https://res.cloudinary.com/doulat/image/upload/v1664713116/WhatsApp_Image_2022-10-02_at_4.52.14_PM_nz8upt.jpg"
      class="card-img-top" alt="..." style="max-width: 250px; height: 300px;">
    <div class="card-body">
      <h5 class="card-title">Dr. Madhu Chawla Mhatre</h5>
      <p class="card-text">
      <pre style="font-size: 12pt;  color: rgb(0, 0, 0);">
<h6 style="font-size: 14pt; color: rgb(6, 165, 27); "><u>Qualification:</u></h6>B.A.M.S. (MUM.), D.Ma.T., D.D.N.

<h6 style="font-size: 14pt; color: rgb(6, 165, 27); "><u>Consultant:</u></h6>P.G.D., Cosmetology,
Trichology, Skin Aesthetician,
Clinical Dietician, Obesity Management,
Panchkarma & General Health Care
</pre>
      </p>
    </div>
  </div>


  <div class="card" style="
  padding-left: 200px;
  padding-top: 50px;
  border: 2px solid black;
  color: rgb(6, 165, 27);">
    <img
      src="https://res.cloudinary.com/doulat/image/upload/v1664713202/WhatsApp_Image_2022-10-02_at_4.52.14_PM_1_rd90e3.jpg"
      class="card-img-top" alt="..." style="max-width: 250px; height: 300px;">
    <div class="card-body">
      <h5 class="card-title">Dr. Rachit Vikas Mhatre</h5>
      <p class="card-text">
      <pre style="font-size: 12pt;  color: rgb(0, 0, 0);"><h6 style=" font-size: 14pt;  color: rgb(6, 165, 27);"><u>Qualification:</u></h6>B.A.M.S., D. Panchkarma., D.Ma.T., D.D.N.,
 <h6 style="font-size: 14pt; color: rgb(6, 165, 27);"><u>Consultant:</u></h6>Cosmetologist, Trichologist,
Skin Aesthetician, Dietician,
Lifestyle Disorders & Wellness Consultant
  </pre>
      </p>
    </div>
  </div> -->

<!-- services -->
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd" style="color: rgb(6, 165, 27); font-size: 20pt;">Our services</div>
    <br>

    <div class="row" style="justify-content: center">

        <div class="card col-md-3 col-12">
            <a href="/panchkarma">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://3.imimg.com/data3/EY/OP/MY-14436890/a-500x500.png"
                        width="200px" height="100px">
                    <div class="shadow"></div>
                    <div class="card-title" style="color: rgb(6, 165, 27);"> PANCHAKARMA, NATUROPATHY
                        & HEALTH MANAGEMENT </div>
                    <p> <small>
                            <div class="card-subtitle" style="color: grey;">Panchakarma is a method of cleansing the body of all the
                                unwanted waste
                                after lubricating it. Panchakarma are 5 (five) in number; hence the term PANCHA
                                (five) KARMA (procedures).
                                Panchakarma treatment is unique in the sense that it includes preventive, curative
                                and promotive
                                actions for various diseases.
                        </small> </p>
                </div>
            </div>
        </a>
        </div>
    </div>
    

    <div class="card col-md-3 col-12 ml-2">
        <a href="/panchkarma">
            <div class="card-content">
                <div class="card-body"> <img class="img"
                        src="https://www.easyayurveda.com/wp-content/uploads/2015/11/foot-massage1.jpg" width="200px"
                        height="100px">
                    <div class="card-title" style="color: rgb(6, 165, 27);"> Kansa Padabhyanga </div>
                    <div class="card-subtitle" style="color: grey;">
                        <p> <small class="text-muted">Kansa, known as “kansya” in Sanskrit, is an alloy made of copper,
                                tin,
                                and
                                zinc. It is variously called bell metal or bronze in the West.</small> </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card col-md-3 col-12 ml-2">
        <a href="/skinandhair">
            <div class="card-content">
                <div class="card-body"> <img class="img rck"
                        src="https://i0.wp.com/healthline-activation-prod.healthline.com/driver-images/GrouponSkincareImage.jpg?w=1155"
                        width="200px" height="100px">
                    <div class="card-title" style="color: rgb(6, 165, 27);"> SKIN & HAIRTREATMENTS</div>
                    <div class="card-subtitle" style="color: grey;">
                        <p> <small class="text-muted">Skin care is the range of practices that support skin integrity,
                                enhance
                                its
                                appearance and relieve skin conditions. They can include nutrition, avoidance of
                                excessive
                                sun
                                exposure
                                and appropriate use of emollients</small> </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>

{% endblock %}