{% extends 'base.html' %}


{% block content %}


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="height: 475px;"
                src="https://res.cloudinary.com/doulat/image/upload/v1667572929/Clinic_pic_pk9vgg.jpg"
                alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="height: 450px;"
                src="https://res.cloudinary.com/doulat/image/upload/v1667572928/Clinic_pic_2_sc1pap.jpg"
                alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" style="height: 450px;"
                src="https://res.cloudinary.com/doulat/image/upload/v1667572927/Clinic_pic_3_fzqpmd.jpg"
                alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr>



<div class="card-group">
    <div class="card mb-3 mx-2 border border-2 border border-success" style="max-width: 540px;">
        <div>
            <center>
                <div>
                    <img src="https://res.cloudinary.com/doulat/image/upload/v1667572928/Skincare_yf8oam.jpg"
                        class="img-fluid rounded-start" alt="..." style="max-height:225px ;">
                </div>
            </center>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Treatment For Skin</h5>
                    <p class="card-text">Skin care is a range of practices that support skin integrity, enhance its
                        appearance, and relieve skin
                        conditions.They can include nutrition, avoidance of excessive sun exposure, and appropriate use
                        of
                        emollients.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mx-2 border border-2 border border-success" style="max-width: 540px;">
        <div>
            <center>
                <div>
                    <img src="https://res.cloudinary.com/doulat/image/upload/v1667572928/2.jpg_jikyj9.png"
                        class="img-fluid rounded-start" alt="..." style="max-height:225px ;">
                </div>
            </center>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Treatment For Hair</h5>
                    <p class="card-text">Hair loss (alopecia) can affect just your scalp or your entire body, and it can
                        be temporary or
                        permanent. It
                        can be the result of heredity, hormonal changes, medical conditions or a normal part of aging.
                        Anyone
                        can lose
                        hair on their head, but it's more common in men.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mx-2 border border-2 border border-success" style="max-width: 540px;">
        <div>
            <center>
                <div>
                    <img src="https://res.cloudinary.com/doulat/image/upload/v1667572927/Diet_rneosq.jpg"
                        class="img-fluid rounded-start" alt="..." style="max-height:250px ;">
                </div>
            </center>
            <div>
                <div class="card-body">
                    <h5 class="card-title">Diet Clinic</h5>
                    <p class="card-text">A healthy diet is essential for good health and nutrition
                        It protects you against many chronic noncommunicable diseases, such as heart disease, diabetes
                        and
                        cancer.
                        Eating a variety of foods and consuming less salt, sugars and saturated and
                        industrially-produced
                        trans-fats,
                        are essential for healthy diet</p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3 mx-2 border border-2 border border-success" style="max-width: 1140px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/doulat/image/upload/v1667572929/Skin-Care_quote_dgyhns.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">SkinCare Is Important. </h5>
                <p class="card-text">Sun protection is an important aspect of skin care.
                    Though the sun is beneficial in order for the human body to get its
                    daily dose of vitamin D,
                    unprotected excessive sunlight can cause extreme damage to
                    the skin. Ultraviolet (UVA and UVB) radiation in the sun's rays can
                    cause sunburn in varying degrees,
                    early ageing and an increased risk of skin cancer.</p>

                <p class="card-text">Natural skin care uses topical creams and lotions made of ingredients
                    available in nature.Much of the recent literature reviews plant-derived
                    ingredients, which may include herbs,
                    roots, flowers and essential oils, but natural substances
                    in skin care products.</p>
            </div>
        </div>
    </div>
</div>







<div class="card mb-3 mx-2 border border-2 border border-success" style="max-width: 1140px;">
    <div class="card-body">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/doulat/image/upload/v1667572928/panchakarma_otrmjk.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
           
                <h5 class="card-title">Panchkarma </h5>
                <p class="card-text">Panchakarma is a method of cleansing the body of all
                    the unwanted waste after lubricating it.
                    Panchakarma are 5 (five) in number; hence the term
                    PANCHA (five) KARMA (procedures). Panchakarma treatment is
                    unique in the sense that it includes preventive, curative
                    and promotive actions for various diseases.
                    Ayurveda has rightly emphasized that health is not only the state
                    of not having disease but, it is the state of normalcy of Dosha, Dathu,
                    Agni and Malakriya. It also includes the Prasanna Atma (soul), Indriya
                    (sense organs) and Manas (mind).</p>

                <p class="card-text">Three doshas of the body, Vata, Pitta and Kapha, which broadly represent
                    the nervous system, the metabolic system and the nutritive system, keep
                    the human body in balance. Whenever the delicate balance between these
                    doshas is disturbed, a disease may be manifested. The main objective of
                    the Ayurvedic system of treatment is to restore the original state of
                    equilibrium between the doshas. In order to achieve the same Ayurveda
                    has advocated certain regimens and treatment modalities such as Dinacharya,
                    Rutucharya, Vega Adharana, Rasayana–Vajikarana and Panchakarma.</p>
            </div>
        </div>
       
    </div>
</div>

<div class="card mb-3  mx-2 border border-2 border border-success" style="max-width: 1140px;">
    <div class="card-body">
        <h5 class="card-title">Our Products</h5>
        <p class="card-text"><small class="text-muted">Our Prdouct's Are Fully Handmade And Totally Natural</small></p>
    </div>
</div>





<div class="card mb-3 mx-2 border border-2 border border-success" style="max-width: 1140px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/doulat/image/upload/v1667572928/Product_1_cjdmzu.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Aloevera Facewash</h5>
                <p class="card-text">Dr Madhu's Ayurbella Aloevera facewash and Aloevera gel for all skin types,
                    balanced pH,
                    soothing and gentle on skin</p>

            </div>
        </div>
    </div>
</div>



<div class="card mx-2 border border-2 border border-success" style="max-width: 1140px;">
    <div class="card-body">
        <h5 class="card-title">For More Products CLick Button Below</h5>
        <a href="/store" class="btn btn-success">More Products</a>
    </div>
</div>


<br>


{% endblock %}